[Unit]
Description=Journalbeat log shipper
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/go/bin/journalbeat
Restart=on-failure
RestartSec=15s

[Install]
WantedBy=multi-user.target
